<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="UTF-8">
    <title>Carousel</title>
    <script
            src="https://code.jquery.com/jquery-3.1.0.js"
            integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="
            crossorigin="anonymous">
    </script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main-menu.css}"/>
    <script th:src="@{/js/requestHandler.js}"></script>
    <script th:src="@{/js/vue.js}"></script>
</head>
<body>

<div id="form-container">
    <form action="/images/new/" enctype="multipart/form-data" method="post">
        <input type="text" name="name"/>
        <input type="file" name="file"/>
        <input type="submit"/>
    </form>
</div>
<div id="title-container">
    <h1>Hogenbak carousel</h1>
</div>
<div id="selection-container">
    <select class="center" onchange="getImage()" id="imagesSelector">
        <th: block th:each="name: ${imageNames}">
            <option th:text="${name}"></option>
        </th:>
    </select>
</div>

<div id="image-container">
    <img id="img" class="center" style="height: 400px;"/>
</div>
</body>

<script th:inline="javascript">
    var j = 0;
    var carousel = function(){
        var images = /*[[${imageNames}]]*/;
        doGetImage(images[j++])
        if(j >= images.length){
            j = 0;
        }
        setTimeout(arguments.callee, 3000);
    }
    carousel();
</script>
</html>
