<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="UTF-8">
    <title>Carousel</title>
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main-menu.css}"/>
    <script th:src="@{/js/requestHandler.js}"></script>
    <script th:src="@{/js/vue.js}"></script>
</head>
<body>
    <h1>Woesh</h1>
    <div class="">

    </div>
</body>
</html>
