<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="UTF-8">
    <title>Carousel</title>
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main-menu.css}"/>
    <script th:src="@{/js/requestHandler.js}"></script>
    <script th:src="@{/js/vue.js}"></script>
</head>
<body>
    <header class="hb-header">
        <h1>Hogenbak carousel</h1>
        <ul>
            <li><a href="/cms">File toevoegen</a></li>
        </ul>
    </header>
    <div class="hb-carousel-body">
        <div class="carousel-container">

        </div>
    </div>
</body>
</html>
